@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
